.bg-light {
    background-color:rgb(255, 253, 125)!important;
}
.btn-outline-success {
    color: rgb(255, 102, 102);
    border-color: rgb(255, 102, 102);
}
.btn-outline-success:hover {
  background-color: #ffe3e3;
  border-color:  rgb(255, 102, 102);
  color:  rgb(255, 102, 102);
}
.navbar-light .navbar-brand {
  color: rgb(255, 102, 102);
}
.navbar-light .navbar-brand:hover{
  color: rgb(255, 102, 102);
}
h1{
 text-align: center;
}
.dot {
  border-radius: 50%;
  background-color: rgb(255, 253, 125);
  position: absolute;
  left: 636px;
  top: 0px;
  width: 94px;
  height: 93px;
  z-index: 3;
}
.carousel-item img {
  height: 500px;
  width: auto;
}
/* .d-block{
  border-color: pink;
  background-color: pink;
} */
body{

}
.pink{
background-color: pink;
}
.yellow{
  background-color: yellow;
}

/* * {
  border: 1px solid blue;
} */
